.content {
    padding: 60px 100px 300px 250px;
    background: radial-gradient(81.32% 81.32% at 50% 50%, #02000b, #05001d);
}

.content>h4 {
    color: #fff;
    font-family: var(--family-general);
    font-size: 19.973px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.997px;
}

.content>h2 {
    color: #fff;
    font-family: var(--family-general);
    font-size: 62.138px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.243px;
}

.content>p {
    color: #C3C3C3;
    font-family: var(--family-general);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.3px;
    margin-top: 80px;
}

.content>img {
    margin: 159px 0;
    width: 100%;
}

@media screen and (max-width: 1650px) {
    .content {
        padding-bottom: 200px;
    }

    .content>h4 {
        font-size: 16px;
    }

    .content>h2 {
        font-size: 40px;
    }

    .content>p {
        margin-top: 50px;
        font-size: 24px;
    }

    .content>img {
        margin: 100px 0;
    }
}

@media screen and (max-width: 1140px) {
    .content {
        padding: 60px 60px 60px 130px;
    }
}

@media screen and (max-width: 976px) {
    .content {
        padding: 60px 60px 60px 60px;
    }

    .side {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .content {
        padding: 40px 40px;
    }

    .content h4 {
        font-size: 10px;
    }

    .content h2 {
        font-size: 34px;
    }

    .content p {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    .content {
        padding: 40px 20px;
    }
}