.content {
    margin: 60px 100px 60px 250px;
}

.content>h4 {
    color: #000;
    font-family: var(--family-general);
    font-size: 19.973px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.997px;
}

.content>h2 {
    color: #000;
    font-family: var(--family-general);
    font-size: 62.138px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.243px;
}

.content div {
    margin-top: 80px;
}

.content div h4 {
    color: #000;
    font-family: var(--family-general);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin: 160px 0;
}

.row {
    display: flex;
    gap: 50px;
    align-items: center;
}

.row img {
    width: 60%;
    max-height: 60vh;
    object-fit: contain;
}

.row:nth-child(even) {
    flex-direction: row-reverse;
}

.row:nth-child(even) img {
    width: 40%;
    max-height: 60vh;
    object-fit: contain;
}

.row h3 {
    color: #5926F0;
    font-family: var(--family-general);
    font-size: 43.848px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    margin-bottom: 50px;
}

.row ul {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.row ul li {
    list-style-type: disc;
    color: #000;
    font-family: var(--family-specific);
    font-size: 28.442px;
    font-style: normal;
    font-weight: 500;
    line-height: 45.033px;
}

@media screen and (max-width: 1650px) {
    .content>h4 {
        font-size: 16px;
    }

    .content>h2 {
        font-size: 40px;
    }

    .content div {
        margin-top: 50px;
    }

    .content div h4 {
        font-size: 24px;
    }

    .bottom {
        margin: 100px 0;
        gap: 100px;
    }

    .row {
        gap: 40px;
    }

    .row img {
        width: 35%;
    }

    .row h3 {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .row ul {
        gap: 24px;
        margin-left: 22px;
    }

    .row ul li {
        font-size: 20px;
        line-height: 150%;
    }
}

@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
    }

    .row:nth-child(even) {
        flex-direction: column
    }
}

@media screen and (max-width: 1140px) {
    .content {
        margin: 60px 60px 60px 130px;
    }
}

@media screen and (max-width: 976px) {
    .content {
        margin: 60px 60px 60px 60px;
    }

    .content>h4,
    .content h2 {
        margin-bottom: 0 !important;
    }

    .side {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .content {
        margin: 40px;
    }

    .content>h4 {
        font-size: 11px !important;
    }

    .content h2 {
        font-size: 26px !important;
    }

    .content div {
        margin-top: 40px;
    }

    .content div h4 {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    .bottom {
        margin: 80px 0;
        gap: 80px;
    }

    .row {
        gap: 30px !important;
    }

    .row img {
        width: 80%;
    }

    .row:nth-child(even) img {
        width: 80%;
    }

    .row h3 {
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    .row ul {
        margin-left: 1rem;
        gap: 1rem;
    }

    .row ul li {
        font-size: 15px;
    }
}