.content {
    padding: 60px 100px 300px 250px;
    background: radial-gradient(81.32% 81.32% at 50% 50%, #02000b, #05001d);
}

.content>h4 {
    color: #fff;
    font-family: var(--family-general);
    font-size: 19.973px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.997px;
}

.content>h2 {
    color: #fff;
    font-family: var(--family-general);
    font-size: 62.138px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.243px;
}

.top {
    display: flex;
    flex-direction: column;
}

.top>img {
    width: 100%;
    margin-top: 130px;
    aspect-ratio: 1526/633;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 50px;
}

.top>h3 {
    color: #5926F0;
    font-family: var(--family-general);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    margin-bottom: 60px;
}

.top>p {
    color: #C3C3C3;
    font-family: var(--family-general);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.3px;
}

.cards {
    margin-top: 140px;
    display: flex;
    gap: 56px;

}

.card img {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 470/326;
    object-fit: cover;
}

.card h4 {
    color: #5926F0;
    font-family: var(--family-general);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    text-align: center;
    margin: 45px 0 30px;
}

.card p {
    color: #C3C3C3;
    text-align: center;
    font-family: var(--family-general);
    font-size: 24.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.245px;
}

@media screen and (max-width: 1650px) {
    .content {
        padding-bottom: 200px;
    }

    .content>h4 {
        font-size: 16px;
    }

    .content>h2 {
        font-size: 40px;
    }

    .content>img {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .content>h3 {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .content>p {
        font-size: 24px;
    }

    .cards {
        margin-top: 100px;
    }

    .card h4 {
        font-size: 25px;
        margin: 30px 0 23px;
    }

    .card p {
        font-size: 17px;
    }
}

@media screen and (max-width: 1140px) {
    .content {
        padding: 60px 60px 60px 130px;
    }
}

@media screen and (max-width: 976px) {
    .content {
        padding: 60px 60px 60px 60px;
    }

    .content h4,
    .content h2 {
        margin-bottom: 0 !important;
    }

    .side {
        display: none;
    }

    .cards {
        flex-direction: column;
        gap: 4rem;
    }

    .top {
        margin-top: 45px;
    }

    .top>img {
        margin-top: 0;
        order: 1;
    }

    .top>h3 {
        font-size: 35px;
    }

    .top>p {
        order: 2;
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    .content {
        padding: 40px 30px;
    }

    .content>h4 {
        font-size: 11px !important;
    }

    .content h2 {
        font-size: 34px !important;
    }

    .top>img {
        border-radius: 10px;
    }

    .top>h3 {
        font-size: 24px;
        margin-bottom: 39px;
    }

    .top>img {
        margin-bottom: 30px;
    }

    .top>p {
        font-size: 12px;
    }

    .cards {
        margin-top: 50px;
    }

    .card h4 {
        font-size: 21px;
    }

    .card p {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .content {
        padding: 40px 20px;
    }
}