.content {
    margin: 60px 100px 60px 250px;
}

.content>h4 {
    color: #000;
    font-family: var(--family-general);
    font-size: 19.973px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.997px;
}

.content>h2 {
    color: #000;
    font-family: var(--family-general);
    font-size: 62.138px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.243px;
    margin-bottom: 80px;
}

.plain_text_container {
    margin-bottom: 53px;
}

.plain_text_container h4 {
    color: #000;
    font-family: var(--family-general);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 50px;
}

.plain_text_container p {
    color: #1D1D1D;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
}

.plain_text_container .unordered {
    margin: 6px 0;
}

.plain_text_container .unordered li {
    margin-left: 30px;
    list-style: disc;
    color: #1D1D1D;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
}

.plain_text_container .unordered li a {
    color: #5926F0;
}

.plain_text_container h5 {
    color: #000;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.plain_text_container .ptc_sec {
    display: flex;
    gap: 10px;
}

.plain_text {
    margin-top: 50px;
}

.plain_text h4 {
    color: #000;
    font-family: var(--family-general);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

.plain_text>p {
    color: #3C3C3C;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.plain_text .pt_sub {
    margin-bottom: 76px;
    margin-left: 50px;
}

.pt_sub h5 {
    color: #3C3C3C;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-left: -50px;
    margin-bottom: 20px;
}

.pt_sub p {
    color: #3C3C3C;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.pt_sub .special {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.pt_sub .special p:nth-child(1) {
    color: #5926f0;
}

.plain_text ul {
    margin-top: 10px;
    margin-bottom: 5px;
}

.plain_text ul li {
    list-style-type: disc;
    color: #3C3C3C;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-left: 3rem;
}

.pt_sub {
    margin-top: 2rem;
}

.pts_sub {
    margin: 3rem 2rem 1rem;
}

.content a {
    color: #5926F0;
    text-decoration: underline;
}

.pt_sub .table_con {
    margin-left: 3rem;
    margin-top: 2rem;
}

.table_con h6 {
    color: #3C3C3C;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.table {
    display: grid;
    max-width: 900px;
    width: 100%;
    margin-top: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.table div {
    border: 1px solid black;
    padding: 30px;
    border-collapse: collapse;
    color: #3C3C3C;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.table .table_full {
    grid-column: span 2;
    text-align: center;
}

.kyc_table {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
}

.kyc_table div {
    color: #3C3C3C;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: 1px solid black;
    padding: 30px;
    border-collapse: collapse;
    vertical-align: center;
}

.kyc_table div:nth-child(4n+1) {
    grid-column: span 2;
}

@media screen and (max-width: 1650px) {
    .content>h4 {
        font-size: 16px;
    }

    .content>h2 {
        font-size: 40px;
    }

    .plain_text_container {
        margin-bottom: 35px;
    }

    .plain_text_container h4 {
        font-size: 24px;
    }

    .plain_text_container p {
        font-size: 17px;
        line-height: 150%;
    }

    .plain_text_container .unordered li {
        font-size: 17px;
        line-height: 150%;
    }

    .plain_text_container h5 {
        font-size: 17px;
        line-height: 150%;
    }

    .plain_text h4 {
        font-size: 24px;
    }

    .plain_text>p {
        font-size: 17px;
        line-height: 150%;
    }

    .pt_sub {
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .pt_sub h5 {
        font-size: 17px;
    }

    .pt_sub p {
        font-size: 17px;
    }

    .plain_text ul li {
        font-size: 17px;
    }

    .pts_sub {
        margin: 2rem 1.4rem .6rem;
    }

    .table_con h6 {
        font-size: 17px;
    }

    .table div {
        font-size: 17px;
        padding: 24px;
    }

    .kyc_table div {
        font-size: 17px;
        padding: 24px;
    }
}

@media screen and (max-width: 1140px) {
    .content {
        margin: 60px 60px 60px 130px;
    }
}

@media screen and (max-width: 976px) {
    .content {
        margin: 60px 60px 60px 60px;
    }

    .content h2 {
        margin-bottom: 60px;
    }

    .plain_text_container h4 {
        margin-bottom: 34px;
    }

    .side {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .content {
        margin: 40px;
    }

    .content>h4 {
        font-size: 11px !important;
    }

    .content h2 {
        font-size: 26px !important;
        margin-bottom: 40px;
    }

    .plain_text_container h4 {
        margin-bottom: 16px;
        font-size: 18px;
    }

    .plain_text_container p {
        font-size: 12px;
    }

    .plain_text_container .unordered li {
        font-size: 12px;
        margin-left: 20px;
    }

    .plain_text_container h5 {
        font-size: 12px;
    }

    .plain_text {
        margin-top: 24px;
    }

    .plain_text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .plain_text h4 {
        font-size: 12px;
    }

    .plain_text>p {
        font-size: 12px !important;
    }

    .plain_text .pt_sub {
        margin-bottom: 34px;
        margin-left: 20px;
    }

    .pt_sub h5 {
        font-size: 12px !important;
        margin-bottom: 10px;
        margin-left: -20px;
    }

    .pt_sub p {
        font-size: 12px;
    }

    .plain_text ul li {
        font-size: 12px;
        margin-left: 1.5rem;
    }

    .pts_sub {
        margin: 2rem 1rem 1rem !important;
    }

    .pt_sub .table_con {
        margin-top: 1rem;
        margin-left: 0;
    }

    .table_con h6 {
        font-size: 12px;
    }

    .table {
        margin-top: 1rem;
    }

    .table div {
        padding: 10px;
        font-size: 10px;
    }

    .kyc_table {
        overflow-x: auto;
    }

    .kyc_table div {
        font-size: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 350px) {
    .content {
        margin: 40px 20px;
    }
}