.footer {
    position: relative;
    z-index: 1000;
    background-color: white;
    padding: 7rem 0 5rem;
    width: 100vw;
}

.wrapper {
    max-width: 1670px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    padding: 1rem;
}

.left {
    flex: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left .top {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about img {
    width: 100%;
    aspect-ratio: 203/57;
}

.about span {
    color: #777;
    font-feature-settings: 'liga' off;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 150%;
    /* 27px */
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.links {
    display: flex;
    gap: 60px;
    flex-wrap: wrap-reverse;
    align-self: flex-end;
    row-gap: 40px;
}

.links a {
    color: #5926F0;
    font-feature-settings: 'liga' off;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0.14px;
    width: 210px;
    text-transform: uppercase;
    white-space: nowrap;
}

.contact_us {
    min-width: 202px;
}

.contact_us img {
    max-width: 200px;
    width: 100%;
    aspect-ratio: 182/22.5;
    margin-bottom: 40px;
}

.contact_us p {
    color: #777;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    max-width: 20ch;
}

.left .bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bottom .b_left {
    flex: 1;
}

.bottom .b_left span {
    color: #777;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.bottom .b_right {
    flex: 2.5;
    display: flex;
    gap: 64px;
    align-items: center;
}

.bottom .b_right span {
    color: #777;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.right {
    flex: 1.2;
}

.right img {
    width: 100%;
    aspect-ratio: 309.96/246.103;
}

@media screen and (max-width: 1500px) {
    .socials {
        gap: .5rem;
    }

    .left {
        flex: 5;
    }

    .wrapper {
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 1360px) {
    .wrapper {
        padding: 1rem 2rem;
    }

    .right {
        display: none;
    }
}