.home {
    height: 100vh;
}

.hero {
    max-width: 1400px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 auto;
    padding: 52px 0 0;
    transform: translateX(-100px);
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.left img {
    /* max-width: 1; */
    width: 80%;
    /* aspect-ratio: 843/787; */
    transform: translateX(30px) translateY(10%);
}

.right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.top .head {
    color: #000;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 65.693px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -1.314px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.top .bold_head {
    color: #000;
    font-feature-settings: 'liga' off;
    font-family: Satoshi;
    font-size: 37.058px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -10px;
    line-height: 150%;
}

.sub_text {
    color: #4E4E4E;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    max-width: 48ch;
}

.cta {
    display: flex;
    align-items: center;
    gap: 14px;
}

.cta a {
    color: #000;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-style: normal;
    font-weight: 700;
    line-height: 165%;
}

.cta a:nth-child(1) {
    border-radius: 22.582px;
    background: linear-gradient(88deg, rgba(0, 0, 0, 0.60) 1.88%, rgba(89, 38, 240, 0.15) 43.73%, rgba(0, 0, 0, 0.60) 98.2%), linear-gradient(135deg, #4823B2 0%, #0007AD 100%);
    color: white;
    padding: 9px 50px;
    font-size: 14px;
}

.cta a:nth-child(2) {
    text-decoration: underline;
    font-size: 16px;
}

.fixed_home {
    position: absolute;
    left: 327px;
    max-width: 520px;
    top: 0px;
    z-index: 102;
}

.fixed_light {
    position: absolute;
    left: 226px;
    max-width: 723px;
    bottom: 2px;
    mix-blend-mode: lighten;
    z-index: 101;
    transition: 1000ms opacity 500ms;
}

.home_in {
    opacity: 1;
    transition: 2000ms opacity 500ms;
}

.home_out {
    opacity: 0;
    transition: 100ms opacity;
}

.light_in {
    opacity: .8;
    transition: 1000ms opacity 500ms;
}

.light_out {
    opacity: 0;
    transition: 100ms opacity;
}

.transform_section {
    background: radial-gradient(81.32% 81.32% at 50% 50%, #030347, #020219 100%);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.transform_section::before {
    content: "";
    position: absolute;
    width: 60vw;
    left: 50%;
    top: -15vh;
    transform: translateX(-50%);
    background: radial-gradient(81.32% 81.32% at 50% 50%, #030347, #020219 100%);
    height: 100vh;
    border-radius: 300px;
}

.not_in_view {
    width: 60vw;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 300px;
    height: 200vh;
    transition: 500ms all;
}

.in_view {
    width: 100vw;
    height: 100vh;
    transform: translateX(0%);
    left: 0;
    border-radius: 0;
    transition: 1000ms all;
}

.in_view::before {
    opacity: 0;
}

.animated {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    background: radial-gradient(81.32% 81.32% at 50% 50%, #030347, #020219 100%);
    border-radius: 300px 300px 0 0;
    transition: 1s width, 1.5s border-radius;
}

.animated::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: radial-gradient(81.32% 81.32% at 50% 50%, #030347, #020219 100%);
    border-radius: 300px 300px 0 0;
    top: -15vh;
    transition: 1s width, 1.5s border-radius;
}

.animated_view {
    width: 100vw;
    border-radius: 0;
    transition: 1s width, 1.5s border-radius;
}

.animated_view::before {
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 1s width, 1.5s border-radius;
}

.fade_out {
    opacity: 0;
    transition: 500ms opacity;
}

.fade_in {
    opacity: 1;
    transition: 1000ms opacity 500ms;
}

.t_main {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.extra {
    flex: 1;
    opacity: 0;
}

.t_content {
    flex: 1;
    position: relative;
    z-index: 100;
}

.t_content h1 {
    color: #FFF;
    font-family: var(--family-general);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.12px;
    margin-bottom: 35px;
}

.t_content p {
    color: #FFF;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 165%;
}

.t_content p {
    margin-bottom: 24px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 0 80px;
}

.bottom div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom div span {
    color: #6B6B6B;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'liga' off;
    font-family: Satoshi;
    font-size: 20.088px;
    font-style: normal;
    font-weight: 500;
    line-height: 165%;
}

.bottom>span {
    color: #777;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'liga' off;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

@media screen and (max-width: 1750px) {
    .fixed_home {
        left: 230px;
    }

    .fixed_light {
        left: 120px;
    }
}

@media screen and (max-width: 1650px) {
    .fixed_home {
        width: 50vmin;
    }

    .fixed_light {
        width: 56vmin;
        bottom: 0;
        left: 12vmax;
    }

    .t_main {
        padding-right: 2rem;
    }

    .t_content h1 {
        font-size: 3vw;
    }

    .t_content p {
        font-size: 1.1vw;
    }

    .not_in_view {
        border-radius: 200px;
    }

    .bottom {
        padding: 0 60px;
    }

    .bottom div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .bottom div span {
        color: #6B6B6B;
        leading-trim: both;
        text-edge: cap;
        font-feature-settings: 'liga' off;
        font-family: Satoshi;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 165%;
    }

    .bottom>span {
        color: #777;
        leading-trim: both;
        text-edge: cap;
        font-feature-settings: 'liga' off;
        font-family: Satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
}

@media screen and (max-width: 1520px) {
    .hero {
        padding: 2rem 0;
        transform: translateX(0);
    }

    .left {
        flex: 1;
    }

    .left img {
        width: 75%;
        transform: translateX(120px);
    }

    .right {
        flex: 1;
    }

    .top .head {
        font-size: 3vw;
    }

    .sub_text {
        font-size: 1.1vw;
    }

    .cta a {
        font-size: 1.25vw;
    }

    .not_in_view {
        transform: translateX(-50%);
    }

    .transform_section::before {
        top: -10vh;
    }

    .animated::before {
        top: -10vh;
    }
}

@media screen and (max-width : 1440px) {

    .fixed_light {
        left: 14vmax;
    }

    .right {
        gap: 20px;
    }
}