.home {
    height: 100vh;
}

.hero {
    max-width: 1400px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 auto;
    padding: 52px 0 0;
    transform: translateX(-100px);
}

.left {
    flex: 1;
}

.left img {
    /* max-width: 1; */
    width: 101%;
    aspect-ratio: 843/787;
    transform: translateX(30px) translateY(-90px);
}

.right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.top .head {
    color: #000;
    font-feature-settings: 'liga' off;
    font-family: var(--family-general);
    font-size: 54.027px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.081px;
}

.top .bold_head {
    font-feature-settings: 'liga' off;
    text-shadow: 0px 7.7181220054626465px 24.119131088256836px rgba(46, 22, 244, 0.16);
    font-weight: 600;
    background: linear-gradient(to bottom right, #65184b, #2815e0, #1a0e77);
    line-height: 130%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub_text {
    color: #4E4E4E;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    max-width: 48ch;
}

.cta {
    display: flex;
    align-items: center;
    gap: 60px;
}

.cta a {
    color: #000;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 165%;
}

.fixed_home {
    position: fixed;
    left: 327px;
    max-width: 520px;
    top: 0px;
    z-index: 102;
}

.fixed_light {
    position: fixed;
    left: 226px;
    max-width: 723px;
    bottom: 2px;
    mix-blend-mode: lighten;
    z-index: 101;
    transition: 1000ms opacity 500ms;
}

.home_in {
    opacity: 1;
    transition: 2000ms opacity 500ms;
}

.home_out {
    opacity: 0;
    transition: 100ms opacity;
}

.light_in {
    opacity: .8;
    transition: 1000ms opacity 500ms;
}

.light_out {
    opacity: 0;
    transition: 100ms opacity;
}

.transform_section {
    background: radial-gradient(81.32% 81.32% at 50% 50%, #030347, #020219 100%);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.transform_section::before {
    content: "";
    position: absolute;
    width: 60vw;
    left: 50%;
    top: -15vh;
    transform: translateX(-50%);
    background: radial-gradient(81.32% 81.32% at 50% 50%, #030347, #020219 100%);
    height: 100vh;
    border-radius: 300px;
}

.not_in_view {
    width: 60vw;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 300px;
    height: 200vh;
    transition: 500ms all;
}

.in_view {
    width: 100vw;
    height: 100vh;
    transform: translateX(0%);
    left: 0;
    border-radius: 0;
    transition: 1000ms all;
}

.in_view::before {
    opacity: 0;
}

.fade_out {
    opacity: 0;
    transition: 500ms opacity;
}

.fade_in {
    opacity: 1;
    transition: 1000ms opacity 500ms;
}

.t_main {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.extra {
    flex: 1;
    opacity: 0;
}

.t_content {
    flex: 1;
    position: relative;
    z-index: 100;
}

.t_content h1 {
    color: #FFF;
    font-family: var(--family-general);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.12px;
    margin-bottom: 35px;
}

.t_content p {
    color: #FFF;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 165%;
}

.t_content p {
    margin-bottom: 24px;
}

@media screen and (max-width: 1750px) {
    .fixed_home {
        left: 230px;
    }

    .fixed_light {
        left: 120px;
    }
}

@media screen and (max-width: 1650px) {
    .fixed_home {
        width: 50vmin;
    }

    .fixed_light {
        width: 56vmin;
        bottom: 0;
        left: 12vmax;
    }

    .t_main {
        padding-right: 2rem;
    }

    .t_content h1 {
        font-size: 3vw;
    }

    .t_content p {
        font-size: 1.1vw;
    }

    .not_in_view {
        border-radius: 200px;
    }
}

@media screen and (max-width: 1520px) {
    .hero {
        padding: 2rem 0;
        transform: translateX(0);
    }

    .left {
        flex: 1;
    }

    .left img {
        width: 101%;
    }

    .right {
        flex: 1;
    }

    .top .head {
        font-size: 3vw;
    }

    .sub_text {
        font-size: 1.1vw;
    }

    .cta a {
        font-size: 1.25vw;
    }

    .not_in_view {
        transform: translateX(-50%);
    }

    .transform_section::before {
        top: -10vh;
    }
}

@media screen and (max-width : 1440px) {

    .fixed_light {
        left: 14vmax;
    }

    .right {
        gap: 20px;
    }
}