.container {
    height: 100vh;
    width: 100vw;
    /* background: url(../../assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: #fff;
    position: fixed;
    z-index: 9999999999;
}

.loaded_container {
    opacity: 0;
    pointer-events: none;
    transition: 1500ms;
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.e_636 {
    animation: 3s rotate forwards infinite linear;
    width: 59vmax;
    mix-blend-mode: hard-light;
    opacity: .6;
}

.e_499,
.e_499_2 {
    width: 27vmax;
}

.loaded_499 {
    width: 200vmax;
    opacity: 0;
    transition: 1500ms;
}

.loaded_636 {
    opacity: 0;
    width: 227vmax;
    transition: 1500ms;
}

.white_lg {
    width: 12vmax;
    /* mix-blend-mode: difference; */
}

.loaded_lg {
    opacity: 0;
    pointer-events: none;
    transition: 1500ms;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}