.wrapper {
    max-width: 1200px;
    margin: 4rem auto 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.mobile {
    display: none;
}

.left>h3 {
    flex: 1;
    color: #000;
    font-family: var(--family-general);
    font-size: 19.973px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.997px;
}

.left>h2 {
    color: #000;
    font-family: var(--family-general);
    font-size: 62.138px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.243px;
}

.left h2 span {
    background: radial-gradient(902.45% 103.01% at 25.29% 0%, #E64067 0%, #5926F0 55.65%, #4828A0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left .timeline {
    max-height: 400px;
    aspect-ratio: 7.2/4;
    overflow-y: auto;
    background: #FAFAFA;
    margin-top: 50px;
}

.left .timeline h3 {
    color: #000;
    font-family: var(--family-general);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
}

.left .timeline p {
    color: #777;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 30ch;
    margin-bottom: 30px;
    margin-top: 6px;
}

.left .timeline a {
    color: #5926F0;
    font-feature-settings: 'liga' off;
    font-family: var(--family-specific);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27px */
}

.right {
    flex: 1;
    aspect-ratio: 9/17;
    max-width: 468px;
    max-height: 853px;
    overflow: hidden;
    border-radius: 30px;
    transform: translateX(150px);
}

.right video {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width: 1850px) {
    .wrapper {
        padding: 0 0 0 2rem;
    }
}

@media screen and (max-width: 1600px) {
    .wrapper {
        padding-left: 6rem;
    }

    .left>h3 {
        font-size: 1.15vw;
    }

    .left>h2 {
        font-size: 2.5vw;
    }

    .left .timeline h3 {
        font-size: 1.7vw;
    }

    .left .timeline p {
        font-size: 1.1vw;
    }

    .left .timeline a {
        font-size: 1vw;
    }

    .right {
        transform: translateX(0%);
        max-height: 600px;
        max-width: 20vw;
        flex: .5;
    }

    .timeline {
        width: 100%;
        aspect-ratio: 7/3;
    }
}

@media screen and (max-width: 1350px) {
    .wrapper {
        padding-left: 9rem;
    }
}

@media screen and (max-width: 1250px) {
    .right {
        margin-right: 2rem;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1000px) {
    .pc {
        display: none;
    }

    .mobile {
        display: flex;
        background-color: white;
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 100px 2rem;
        gap: 45px;
    }

    .mobile h4 {
        color: #000;
        font-family: var(--family-general);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.4px;
    }

    .mobile h2 {
        color: #000;
        text-align: center;
        font-family: var(--family-general);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.72px;
    }

    .mobile h2 span {
        background: radial-gradient(902.45% 103.01% at 25.29% 0%, #E64067 0%, #5926F0 55.65%, #4828A0 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: var(--family-general);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.72px;
    }

    .mobile .timeline {
        background: #FAFAFA;
        padding: 2rem 1rem;
        width: 100%;
    }

    .timeline h3 {
        color: #000;
        font-family: var(--family-general);
        font-size: 22.985px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.46px;
    }

    .timeline p {
        color: #777;
        font-feature-settings: 'liga' off;
        font-family: var(--family-specific);
        font-size: 11.492px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 17.238px */
    }

    .timeline a {
        color: #5926f0;
        font-feature-settings: 'liga' off;
        font-family: var(--family-specific);
        font-size: 11.492px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 17.238px */
    }

}